.input-drop {
    background: #FFE7C2;
    border: 2px dashed #FFBB55;
    margin: 10px;
    max-width: 100%;
    height: 80%;
}

.upload-image {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.upload-text {
    font-family: "Montserrat ExtraBold";
    font-size: 24px; 
    text-align: center;
    color: rgb(46, 44, 44);
}

.browse-button {
    height: 50px;
    width: 190px;
    background: #FFBB55;
    border-radius: 8px;
    border: none;
    font-family: "Montserrat Medium";
    font-size: 16px; 
}

.browse-button:hover {
    background: #f5a124;
}