/* Разметка тела и вкладки */
.result-box {
    display: grid;
    width: 50%;
    margin: 20px;
}

.input-drop {
    background: #FFE7C2;
    border: 2px dashed #FFBB55;
    max-width: 100%;
    height: 80%;
}

.result-tab {
    border: 2px solid #FFBB55;
    border-radius: 8px;
    width: fit-content; 
    height: fit-content;
    padding-top: 0px;
    grid-area: 1 / 1 / 2 / 2;
}

.result-sub-window {
    background: #FFF4E2;
    margin-top: 35px !important;
    height: fit-content;
    width: auto;
    margin-top: 0px;
    border: 2px solid #FFBB55;
    border-radius: 8px; 
    grid-area: 1 / 1 / 2 / 2;
    padding: 15px;
}

/* Костыль скрытия линии вкладки */
.result-hide-crutch {
    position: relative;
    margin: 0px;
    width: 100%;
    height: 8px;
    background: #FFF4E2;
    z-index:0
}

.result-tab-text {
    margin: 0px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    font-size: 150%;
    padding-bottom: 3px;
}

/* Кнопки генерации и сохранения изображения */
.result-button {
    border: 2px solid #FFBB55;
    border-radius: 8px;
    background: #FFF4E2;
    margin-top: 15px;
    width: 100%;
    height: 30px;
    font-family: "Montserrat Medium";
}

.result-button:hover {
    background: #FFBB55
}

.result-button:active {
    background: #FFF4E2;
}

.generate-button {
    background: #FFBB55
}

.generate-button:hover {
    background: #f5a124;
}

.generate-button:active {
    background: #FFBB55;
}

.result-button-text {
    margin: 0px;
    margin-top: -2px;
    text-align: center;
    font-size: 110%;
    font-weight: 700;
}

/* Прогресс генерации */
.progress-bar {
    height: 10px;
}

.manualPrompt {
    background: none;
    outline: none;
    font-family: "Montserrat Medium";
    font-weight: 550;
    font-size: 15px;
}